$font-family: Arial, sans-serif;
$primary-color: #7bff00;
$secondary-color: #918b96;


body {
    font-family: $font-family;
}

.btn-custom {
    background-color: $primary-color;
    color: black;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
    transition: background-color 0.5s;

    &:hover {
        background-color: $secondary-color;
    }
}
